* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.container {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
}

/* Configuração especifica page login */
body.login-page {
	background-color: #1e1e1e;
}

/* Configuration Header */
.header {
	background-color: #1e1e1e;
	display: flex;
	align-items: center;
	padding: 0 40px;
	justify-content: space-between;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.image-logo {
	width: 80px;
}

.item-navbar {
	padding: 10px 20px;
	font-size: 1rem;
	color: #fff;
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 10px;
	gap: 30px;
	transition: 0.5s;
}

.item-navbar:hover {
	background-color: #454545;
	border-left-color: #006fff;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

/* Alerta */

.alert {
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.alert-success {
	background-color: #d4edda;
	border-color: #c3e6cb;
	color: #155724;
	margin: 5px 20px;
	padding: 12px 20px;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	margin: 5px 20px;
	padding: 12px 20px;
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: bee5eb;
	margin: 5px 20px;
	padding: 12px 20px;
}

/* Configuração Formulário Login */
.form-login {
	background-color: #1e1e1e;
	display: flex;
	min-height: 95vh;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
}

.form-content {
	color: #e1ffff;
	border: 2px solid #e1ffff;
	display: flex;
	flex-direction: column;
	box-shadow: 3px 3px 3px rgba(243, 243, 243, 0.932);
	border-radius: 15px;
	padding: 50px;
}

.item-form-login {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.label-form-login {
	font-size: 18px;
	padding-bottom: 15px;
}

.input-form-criar,
.input-form-login {
	min-width: 280px;
	height: 40px;
	font-size: 1rem;
	border-radius: 5px;
	padding-left: 10px;
}

.input-form-criar:focus,
.input-form-login:focus {
	border-color: #00b4d9;
	box-shadow: 0 0 0 2px #69b4ff;
	transition: box-shadow 0.3s ease-in-out;
}

.btn-form-login {
	font-size: 20px;
	padding: 12px;
	border-radius: 10px;
	align-self: center;
	background-color: #454545;
	color: #69b4ff;
	transition: 0.05s;
}

.lembrar-acesso-login {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
}

.checkbox-form-login {
	margin-left: 5px;
}

.label-form-login-lembrar,
.link-criar-conta {
	color: #e1ffff;
	text-align: center;
}

.btn-form-login:hover {
	border-radius: 10px;
	border-color: #e1ffff;
	cursor: pointer;
	transform: scale(1.05);
}

/* Configuração Formulário Criar Conta */
.content-form-criarconta {
	padding-top: 30px;
}

.title-form-criar {
	font-weight: bold;
	font-size: 1.4rem;
	color: #1e1e1e;
}

.form-criar-conta {
	padding: 20px 40px;
	border: 2px solid #2d2d2d;
	max-width: 450px;
	border-radius: 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-form-criarconta {
	padding: 5px 0;
	display: flex;
	flex-direction: column;
}

.label-form-criar {
	font-size: 0.9em;
}

.btn-form-criar {
	background-color: #69b4ff;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: bold;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	transition: 0.05s;
}

.btn-form-criar:hover {
	border-radius: 4px;
	cursor: pointer;
	transform: scale(1.05);
}

/* Validações Formulários */
.invalid-feedback {
	padding-top: 2px;
	color: #ff4500;
	font-size: 13px;
}

.is-invalid {
	border-color: #e6051b;
	box-shadow: 0 0 0 2px #f5c6cb;
}

/* Configuração minhaconta */
.container-minhaconta {
	padding: 2.5rem;
}

.content-minhaconta {
	padding: 1rem;
	display: flex;
	justify-content: center;
	background-color: #e9ebee;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	max-width: 670px;
	margin: 0 auto; /* Centraliza o elemento horizontalmente */
}

.form-dados-conta {
	padding-left: 1rem;
	flex: 1 0 140px;
}

.form-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form-row label {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.form-row input {
	font-size: 1em;
	height: 1.8rem;
	width: 360px;
}

.contagem-bloco {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #e9ebee;
	border-radius: 8px;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1); /* cria uma sombra interna inset */
	height: 100px;
	margin-top: 30px;
	padding: 10px;
	width: 360px;
}

/*flex-grow: 1 - indica para o navegador que esse elemento deve crescer dentro do contêiner pai, o que significa que ele vai ocupar todo o espaço disponível horizontalmente. O flex-grow é uma propriedade do modelo de layout CSS Flexbox, que permite que os elementos ajustem sua largura automaticamente com base no tamanho do contêiner pai.*/
.post-bloco,
.curso-bloco {
	flex-grow: 1;
	text-align: center;
}

.label-bloco {
	display: block;
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.contador-bloco {
	font-size: 1.5rem;
	font-weight: bold;
	color: #006fff;
}

.form-actions {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

.btn-minhaconta {
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	transition: 0.05s;
}

#btn_editar_perfil {
	background-color: #4caf50;
}

#btn_salvar_perfil {
	background-color: #69b4ff;
}

.btn-minhaconta:hover {
	cursor: pointer;
	transform: scale(1.03);
}

.image-perfil {
	width: 250px;
	height: 250px;
	border: 1px solid;
	border-radius: 8px;
}

@media screen and (max-width: 675px) {
	.header,
	.item-navbar {
		padding: 10px;
	}
}

@media screen and (max-width: 512px) {
	.image-logo {
		width: 60px;
	}
	.item-navbar {
		flex-wrap: wrap;
		padding: 2px;
	}
}

@media screen and (max-width: 472px) {
	/* Adicione esta media query */

	.form-content {
		padding: 20px; /* reduz a quantidade de preenchimento dentro do formulário */
	}
	.label-form-login {
		font-size: 20px; /* ajusta a fonte do label */
	}
	.input-form-login {
		min-width: 200px;
		font-size: 16px; /* reduz a fonte do input */
		height: 30px; /* ajusta a altura do input */
	}
	.btn-form-login {
		font-size: 18px; /* reduz a fonte do botão */
	}

	.form-criar-conta {
		margin: 5px;
		min-width: 200px;
	}
}

@media screen and (max-width: 382px) {
	/* Adicione esta media query */
	.form-content {
		padding: 10px; /* reduz a quantidade de preenchimento dentro do formulário */
	}

	.label-form-login {
		font-size: 16px; /* ajusta a fonte do label */
	}
	.input-form-login {
		font-size: 13px; /* reduz a fonte do input */
		height: 30px; /* ajusta a altura do input */
	}

	.link-criar-conta,
	.lembrar-acesso-login {
		font-size: 13px;
	}

	.btn-form-criar,
	.btn-form-login {
		font-size: 15px; /* reduz a fonte do botão */
	}
	.input-form-criar {
		min-width: auto;
		height: 30px;
	}
}
