{% extends 'base.html' %} {% block body %}

<div class="container-home">
	<div class="title-home">Comunidade Impressionadora</div>
	<div class="subtitle-home">
		Aqui você encontra tudo que a comunidade do Python tem para oferecer
	</div>

	<div class="container-postlist">
		{% for post in lista_posts %}
		<div class="content-postlist">
			<div class="dados-autor-post">
				<img
					src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
					class="image-perfil-post"
					alt="imagem-perfil"
				/>
				<div class="criador-post">{{ post.autor.username }}</div>
				<div class="meuscursos">
					<div class="item-cursos">
						{% for curso in post.autor.cursos.split(';') %}
						<button disabled="disabled" class="cursos-btn">
							{{ curso }}
						</button>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="dados-post">
				<div class="titulo-dados-post">
					<a href="{{ url_for('exibir_post', post_id = post.id) }}"
						>{{ post.titulo }}</a
					>

					<div class="data-criacao-post">
						Data de criação: {{
						post.data_criacao.strftime("%d/%m/%Y") }}
					</div>
				</div>
				<div class="corpo-dados-post">{{ post.corpo }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
